name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.projectKey=Sambit-rgb_vulnpascal
            -Dsonar.host.url=https://yaeko-wholistic-enjoyably.ngrok-free.dev
            "-Dsonar.delphi.library=C:/Program Files (x86)/Embarcadero/Studio/23.0/source/rtl,C:/Program Files (x86)/Embarcadero/Studio/23.0/source/vcl"
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
