on: [push]
jobs:
  sonar:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'

      - name: Run SonarCloud scanner
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          projectBaseDir: .
          scannerVersion: 7.2.0.5079
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          # SONAR_HOST_URL can be set if you use non-default host:
          # SONAR_HOST_URL: https://sonarcloud.io
